/*
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** MEDIA QUERY
*/

/* VARIÁVEIS */
:root {
	--color-ig: rgb(26, 26, 26);
	--link-color: #08376b;
	--gradient-ig: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
	--background-ig: #fafafa;
	--border-radius: 77px;
	--container-size: 935px;
	--galery-size-width: 293px;
	--galery-size-height: 293px;
}

/*BODY*/
body {
	background: whitesmoke;	
	font-family: Helvetica, Arial, sans-serif;
}

/*TOPO*/

.fixedHeader {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background: white;
	border-bottom: 1px solid lightgray
}

header {
	max-width: var(--container-size);
	margin: auto;
    display: flex;
	justify-content: space-between;
	align-items: center;
}

header figure {
	margin: 5px 40px 0px;
	padding-top: 5px;
}

header input {
	padding: 5px;
	background: whitesmoke;
	border: 1px solid lightgray;
	text-align: center;
	color: gray
}

header nav a {
	padding: 0 10px;
	color: var(--color-ig);
}

/*RODAPÉ*/
footer {
	background: whitesmoke;
	max-width: var(--container-size);
	margin: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

footer nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer nav a {
	text-decoration: none;
	color: var(--link-color);
}

footer .copyright {
	margin: 0;
	margin-bottom: 10px;
	padding-top: 2px;
	color: gray;
}

/*PÁGINA INICIAL*/
main {
	max-width: var(--container-size);
	margin: 50px auto;
	color: var(--color-ig);
}

main .profile-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

main .profile-photo {
	order: 0;
	flex: 1 0 auto;
	align-self: flex-start;
	padding-right: 30px;
}

main .profile-photo img {
	border-radius: var(--border-radius);
	border: 2px solid white;
	box-shadow: 0 0 0 3px lightgray;
	cursor: pointer;
}

main .profile-info {
	order: 0;
	flex: 2 1 auto;
	align-self: stretch;
}

main .profile-data-header h1 {
	font-size: 26px;
	font-weight: lighter;
	margin-bottom: 16px;
}

main .profile-data-stats {
	display: flex;
	flex-direction: row;
}

main .profile-data-stats p {
	padding-right: 50px ;
	margin: 5px 0;
}

main .profile-data-stats span {
	font-weight: bold;
}

main .profile-data-description ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

main .profile-data-description h2 {
	padding-bottom: 0;
	margin-bottom: 10px;
	font-size: 16px;
}

main .profile-data-description p {
	padding: inherit;
	margin: 5px 0;
	line-height: 20px;
}

main .profile-data-description a {
	text-decoration: none;
	font-weight: bold;
}

main .highlighted-stories {	
	padding-top: 20px;
}

main .highlighted-stories ul {
	padding: 0 0 30px 0;
	margin: 0;
	list-style-type: none;
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

main .highlighted-stories figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

main .highlighted-stories img {
	border-radius: var(--border-radius);
	border: 2px solid white;
	box-shadow: 0 0 0 3px lightgray;
	max-width: 100px;
}

main .highlighted-stories .add-new-highlight img {
	border-radius: var(--border-radius);
	border: 2px solid black;
	box-shadow: none;
	max-width: 100px;
}

main .highlighted-stories figcaption {
	padding-top: 20px;
	font-weight: bold;
	font-size: 14px;
}


main .profile-posts {
	padding: 20px 0;
	border-top: 1px solid lightgray;
}

main .profile-posts nav {
	display: flex;
    justify-content: center;
	align-items: flex-start;
}

main .profile-posts a {
	padding: 0px 50px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: var(--color-ig);
}

main .profile-posts a.disabled {
	color: gray;
}

main .profile-posts a.disabled:hover {
	color: var(--color-ig);
}

main .profile-posts img {
	max-width: var(--galery-size-width);
	max-height: var(--galery-size-height);
}

main .profile-posts ul {
	list-style-type: none;
	columns: 3;
	column-gap: 10px;
	margin: auto;
	padding: 20px 0;
}

main .profile-posts figure {
	padding: 0;
	margin: 0;
	width: 100%;
}
